# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# Uploads
uploads/

# Build
dist/

# Coverage
coverage/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# IntelliJ
.idea/